body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bg-color;
  color: white;
  min-height: 100%;
}

body,
input {
  font-family: "Montserrat", "Roboto", sans-serif;
}

p {
  margin: 0;
}

/*scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $dark-gray;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $secondary-color;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $main-color;
}
