@import "../../styles/variables";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 10%;
}
@mixin search {
  background-color: $dark-gray;
  color: $secondary-color;
  font-size: 18px;
  cursor: pointer;
}
.search_box {
  @include search;
  width: 60%;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  align-items: center;
  padding: 10px 15px;
  gap: 10px;
  @media (max-width: 475px) {
    width: 100%;
  }
}
.search {
  @include search;
  width: 100%;
  outline: none;
  border: 1px solid transparent;
  transition: 0.5s ease-in-out;
  padding: 5px;

  &:focus,
  &:active {
    border-bottom: 1px solid $main-color;
  }
}
.search::placeholder {
  color: $secondary-color;
}
